.navbar {
    background-color: #614789;
    border-color: #614789;
    border-radius: 0 !important;
}

.navbar a{
    color: white !important;
}

.navbar a:hover{
    color: lightgrey!important;

}

#main{
    color: grey!important;
    border-color: grey!important;
    display: none;
}

#noemain{
    display: none;
    max-width:75%;
    max-height:75%;
}

#mainquote{
    /*text-align: justify;*/
}
